Web service/ConsoleApplicationTestWCF/ConsoleApplicationTestWCF/Service References/HelloWebService/ServiceHello.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceHello" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13839/ServiceHello.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13839/ServiceHello.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13839/ServiceHello.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core.Anecdotes" />
      <xsd:import schemaLocation="http://localhost:13839/ServiceHello.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Core.Comments" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceHello_SayHello_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="IServiceHello_SayHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHello_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IServiceHello_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHello_CNF_RetreiveAnecdote_InputMessage">
    <wsdl:part name="parameters" element="tns:CNF_RetreiveAnecdote" />
  </wsdl:message>
  <wsdl:message name="IServiceHello_CNF_RetreiveAnecdote_OutputMessage">
    <wsdl:part name="parameters" element="tns:CNF_RetreiveAnecdoteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHello_VDM_NewAnecdote_InputMessage">
    <wsdl:part name="parameters" element="tns:VDM_NewAnecdote" />
  </wsdl:message>
  <wsdl:message name="IServiceHello_VDM_NewAnecdote_OutputMessage">
    <wsdl:part name="parameters" element="tns:VDM_NewAnecdoteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHello_DTC_NewAnecdote_InputMessage">
    <wsdl:part name="parameters" element="tns:DTC_NewAnecdote" />
  </wsdl:message>
  <wsdl:message name="IServiceHello_DTC_NewAnecdote_OutputMessage">
    <wsdl:part name="parameters" element="tns:DTC_NewAnecdoteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHello_CNF_NewAnecdote_InputMessage">
    <wsdl:part name="parameters" element="tns:CNF_NewAnecdote" />
  </wsdl:message>
  <wsdl:message name="IServiceHello_CNF_NewAnecdote_OutputMessage">
    <wsdl:part name="parameters" element="tns:CNF_NewAnecdoteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceHello">
    <wsdl:operation name="SayHello">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHello/SayHello" message="tns:IServiceHello_SayHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHello/SayHelloResponse" message="tns:IServiceHello_SayHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHello/Test" message="tns:IServiceHello_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHello/TestResponse" message="tns:IServiceHello_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CNF_RetreiveAnecdote">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHello/CNF_RetreiveAnecdote" message="tns:IServiceHello_CNF_RetreiveAnecdote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHello/CNF_RetreiveAnecdoteResponse" message="tns:IServiceHello_CNF_RetreiveAnecdote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VDM_NewAnecdote">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHello/VDM_NewAnecdote" message="tns:IServiceHello_VDM_NewAnecdote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHello/VDM_NewAnecdoteResponse" message="tns:IServiceHello_VDM_NewAnecdote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DTC_NewAnecdote">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHello/DTC_NewAnecdote" message="tns:IServiceHello_DTC_NewAnecdote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHello/DTC_NewAnecdoteResponse" message="tns:IServiceHello_DTC_NewAnecdote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CNF_NewAnecdote">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHello/CNF_NewAnecdote" message="tns:IServiceHello_CNF_NewAnecdote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHello/CNF_NewAnecdoteResponse" message="tns:IServiceHello_CNF_NewAnecdote_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceHello" type="tns:IServiceHello">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="http://tempuri.org/IServiceHello/SayHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IServiceHello/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CNF_RetreiveAnecdote">
      <soap:operation soapAction="http://tempuri.org/IServiceHello/CNF_RetreiveAnecdote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VDM_NewAnecdote">
      <soap:operation soapAction="http://tempuri.org/IServiceHello/VDM_NewAnecdote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DTC_NewAnecdote">
      <soap:operation soapAction="http://tempuri.org/IServiceHello/DTC_NewAnecdote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CNF_NewAnecdote">
      <soap:operation soapAction="http://tempuri.org/IServiceHello/CNF_NewAnecdote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceHello">
    <wsdl:port name="BasicHttpBinding_IServiceHello" binding="tns:BasicHttpBinding_IServiceHello">
      <soap:address location="http://localhost:13839/ServiceHello.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>