Web service/ConsoleApplicationTestWCF/ConsoleApplicationTestWCF/Service References/HelloWebService/ServiceHello2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core.Anecdotes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core.Anecdotes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13839/ServiceHello.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Core.Comments" />
  <xs:complexType name="ArrayOfAnecdoteCnf">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnecdoteCnf" nillable="true" type="tns:AnecdoteCnf" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnecdoteCnf" nillable="true" type="tns:ArrayOfAnecdoteCnf" />
  <xs:complexType name="AnecdoteCnf">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element minOccurs="0" name="Vote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnecdoteCnf" nillable="true" type="tns:AnecdoteCnf" />
  <xs:complexType name="AnecdoteVdm">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BienMerite" type="xs:int" />
      <xs:element minOccurs="0" name="Contenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="JeValide" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core.Comments" minOccurs="0" name="ListComments" nillable="true" type="q1:ArrayOfCommentVdm" />
      <xs:element minOccurs="0" name="Parution" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnecdoteVdm" nillable="true" type="tns:AnecdoteVdm" />
  <xs:complexType name="AnecdoteDtc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnecdoteDtc" nillable="true" type="tns:AnecdoteDtc" />
</xs:schema>